<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Application Sockets</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">
    <h1>Chat</h1>
    <div>
      <ul v-for="message in messages">
        <li>{{message}}</li>
      </ul>

    </div>
    <form v-on:submit.prevent="sendMessage">
      <input type="text" v-model="message">
      <button type="submit">Send</button>
    </form>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>

  <script>
    const socket = io();
    const app = Vue.createApp({
      data() {
        return {
          message: 'Hello World',
          messages: []
        }
      },
      created() {
        socket.on('message', (message) => {
          this.messages.push(message);
        })
      },
      methods: {
        sendMessage() {
          socket.emit('message', this.message);
          this.message = '';
        }
      }
    });
    app.mount('#app');
  </script>

</body>

</html>